#server-list {
    width: 250px !important;
    position: fixed;
    left: 0;
    -webkit-user-drag: none;
    user-select: none;
}

#formContent {
    width: calc(100% - 250px) !important;
    /* background-color: black; */
    margin-left: 250px;
}

#consoleContent {
    width: calc(100% - 250px) !important;
    /* background-color: black; */
    margin-left: 250px;
}

.console {
    width: calc(100%) !important;
    background-color: black;
    color: rgb(27, 201, 36);
}

.bordered {
    /* border: 1px solid black; */
}
